{
  "presets": [
    [
      "@oigroup/babel-preset-lightscript",
      {
        "env": {
          "targets": {
            "node": "8.9.3"
          }
        },
        "stdlib": false,
        "noEnforcedSubscriptIndentation": true,
        "existential": true
      }
    ]
  ],
  "plugins": [
    "syntax-jsx",
    [
      "transform-react-jsx",
      {
        "pragma": "h",
        "useBuiltIns": true
      }
    ]
  ]
}
