::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background: #1b5299;
}
body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  font-family: 'Open Sans';
  --primary-color: #1b5299;
  --secondary-color: #1b5299;
}
* {
  cursor: default;
  -webkit-user-select: none;
}
* input,
* [role="input"] {
  cursor: text;
  -webkit-user-select: auto;
}
#mainContainer {
  display: flex;
}
x-button {
  color: #757575;
}
x-button[toggled] {
  background: #757575;
}
#header {
  -webkit-app-region: drag;
  height: 56px;
  font-family: 'Lato';
/* background-color: #424852; */
  font-size: 24px;
  color: #757575;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
  border-bottom: 2px solid #1b5299;
/* border-bottom: 1px solid #757575; */
  background-color: #fff;
}
#logo {
  display: flex;
  flex-grow: 1.22;
  justify-content: flex-end;
}
#headerIcon {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#headerText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #1b5299;
}
#headerButtons {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  align-items: flex-start;
}
#headerButtons img {
  padding: 7px;
  -webkit-app-region: no-drag;
}
#headerButtons img:hover {
  box-shadow: 0 0 0 0, 0 1px 1px 0 rgba(0,0,0,0.14), 0 1px 3px 0 rgba(0,0,0,0.12);
}
#sidebar {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 558px;
  justify-content: space-between;
  border-right: 1px solid #757575;
}
#sidebar .activeTab .tabIcon,
#sidebar .activeTab .tabText {
  fill: #1b5299;
  color: #1b5299;
}
#sidebar .tab {
  font-size: 16px;
  color: #757575;
  display: flex;
  justify-content: space-between;
  height: 56px;
}
#sidebar .tab:hover .tabIcon,
#sidebar .tab:hover .tabText {
  fill: #1b5299;
  color: #1b5299;
}
#sidebar .tabIcon {
  color: #757575;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  fill: #757575;
  margin-left: 12px;
  margin-right: 13px;
}
#topTabs .tab:nth-child(1) .tabIcon {
  width: 24px;
  margin-top: 17px;
  margin-left: 14px;
  margin-right: 12px;
}
#sidebar .tabText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90px;
  margin-left: -6px;
}
#sidebar .tabLip {
  height: 56px;
  display: flex;
  visibility: hidden;
}
#sidebar .activeTab .tabLip {
  visibility: visible;
}
#sidebar .tabArrow {
  margin: auto;
  width: 14px;
  height: 14px;
  transform: rotate(135deg);
  border-right: 1px solid #757575;
  border-bottom: 1px solid #757575;
  margin-right: -8px;
}
#sidebar .tabLine {
  margin: auto;
  height: 20px;
  border-right: 1px solid #f9f9f9;
  margin-right: -1px;
}
#helpTab {
  cursor: pointer;
}
#helpTab * {
  cursor: pointer;
}
#statusTabInfoWindow {
  width: 639px;
  height: 100%;
  margin-top: 16px;
  display: none;
  flex-direction: column;
  overflow-y: scroll;
}
#topStatus {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 44px;
}
#topStatus #disableButton {
  justify-content: flex-end;
  margin-right: 60px;
  font-size: 16px;
}
#blueLossEnableswitch {
  margin-right: 10px;
}
#topStatus #disableButton x-label {
  width: 136px;
}
#statusAnimation {
  margin-left: 65px;
  margin-top: -1px;
}
#statusAnimation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}
#statusAnimation li {
  display: inline-block;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #1b5299;
  position: absolute;
  left: 0;
  opacity: 0;
}
#statusAnimation .play li {
  animation: load 3s cubic-bezier(0.15, 0.71, 0.74, 0.34) forwards;
}
#statusAnimation .play li:nth-child(1) {
  animation-delay: 0s;
}
#statusAnimation .play li:nth-child(2) {
  animation-delay: 0.3s;
}
#statusAnimation .play li:nth-child(3) {
  animation-delay: 0.6s;
}
#statusAnimation .play li:nth-child(4) {
  animation-delay: 0.9s;
}
#statusAnimation .play li:nth-child(5) {
  animation-delay: 1.2s;
}
#statusAnimation .play li:nth-child(6) {
  animation-delay: 1.5s;
}
#statusAnimation .play li:nth-child(7) {
  animation-delay: 1.8s;
}
#statusAnimation .play li:nth-child(8) {
  animation-delay: 2.1s;
}
#statusAnimation .play li:nth-child(9) {
  animation-delay: 2.4s;
}
#statusAnimation .play li:nth-child(10) {
  animation-delay: 2.7s;
}
#devicesContainer {
  text-align: center;
  overflow-y: scroll;
  height: 459px;
  width: 627px;
}
#lookingForHeader {
  opacity: 0.6;
  margin-bottom: 20px;
}
#deviceAddHeader {
  opacity: 0.6;
  margin-top: 30px;
  margin-bottom: 20px;
}
#statusTabInfoWindow .deviceCard {
  width: 472px;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
#statusTabInfoWindow .deviceCard > x-box {
  justify-content: space-between;
}
#statusTabInfoWindow .vendorName {
  word-break: break-all;
  -webkit-user-select: text;
}
#statusTabInfoWindow .deviceDetails {
  padding: 0 10px;
  width: 310px;
}
#statusTabInfoWindow .deviceIPAddress {
  -webkit-user-select: text;
  opacity: 0.5;
  margin-top: 6px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
}
#statusTabInfoWindow .deviceMacAddress {
  -webkit-user-select: text;
  opacity: 0.5;
  margin-top: 4px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
}
#statusTabInfoWindow x-card .cardDeviceIcon img {
  width: 33px;
  padding-right: 4px;
  padding-left: 6px;
}
#devicesContainerBottomLip {
  display: none;
  position: absolute;
  top: 607px;
  height: 20px;
  background-color: transparent;
  width: 630px;
  box-shadow: 0px -1px 11px -1px rgba(94,94,94,0.37);
  margin-top: 9px;
  z-index: 20;
}
@-moz-keyframes load {
  0%, 10%, 90%, 100% {
    opacity: 0;
  }
  0%, 10% {
    transform: translateX(0);
  }
  45%, 55% {
    opacity: 1;
  }
  90%, 100% {
    transform: translateX(200px);
  }
}
@-webkit-keyframes load {
  0%, 10%, 90%, 100% {
    opacity: 0;
  }
  0%, 10% {
    transform: translateX(0);
  }
  45%, 55% {
    opacity: 1;
  }
  90%, 100% {
    transform: translateX(200px);
  }
}
@-o-keyframes load {
  0%, 10%, 90%, 100% {
    opacity: 0;
  }
  0%, 10% {
    transform: translateX(0);
  }
  45%, 55% {
    opacity: 1;
  }
  90%, 100% {
    transform: translateX(200px);
  }
}
@keyframes load {
  0%, 10%, 90%, 100% {
    opacity: 0;
  }
  0%, 10% {
    transform: translateX(0);
  }
  45%, 55% {
    opacity: 1;
  }
  90%, 100% {
    transform: translateX(200px);
  }
}
#settingsTabInfoWindow {
  width: 639px;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}
#settingsTabInfoWindow > x-box:nth-child(1) {
  margin-top: 20px;
}
#settingsTabInfoWindow > x-box:nth-child(2) {
  margin-top: 30px;
  min-height: 13%;
}
#settingsTabInfoWindow > x-box:nth-child(3) {
  min-height: 13%;
}
#settingsTabInfoWindow > x-box:nth-child(4) {
  min-height: 14%;
}
#settingsTabInfoWindow > x-box {
  width: 514px;
  min-height: 18%;
}
#timeToLockSetting {
  display: flex;
  justify-content: space-around;
}
#timeToLock {
  margin-top: -9px;
  margin-right: 10px;
  width: 95px;
}
#timeToLockLabel {
  width: 400px;
}
#timeToLockLabel > x-box > x-label:last-child {
  margin-top: 5px;
}
#hostScanTimeoutSetting {
  display: flex;
  justify-content: space-around;
}
#hostScanTimeout {
  margin-top: -9px;
  margin-right: 10px;
  width: 95px;
}
#hostScanTimeoutLabel {
  width: 400px;
}
#hostScanTimeoutLabel > x-box > x-label:last-child {
  margin-top: 5px;
}
#hostsScanRangeSetting {
  display: flex;
  justify-content: space-around;
}
#hostsScanRangeStart {
  margin-top: -14px;
  margin-right: 10px;
  width: 95px;
}
#hostsScanRangeEnd {
  margin-top: 10px;
  margin-right: 10px;
  width: 95px;
}
#hostsScanRangeLabel {
  width: 400px;
  margin-top: -30px;
}
#hostsScanRangeLabel .extraInfo > abbr {
  text-decoration: none;
}
#hostsScanRangeLabel .extraInfo abbr img {
  height: 19px;
  margin-bottom: -6px;
  margin-left: 4px;
}
#hostsScanRangeLabel > x-box > x-label:last-child {
  margin-top: 5px;
}
#iconColorDropdownContainer {
  align-items: flex-start;
  margin-top: 0;
}
#iconColorDropdown {
  margin-right: 13px;
  margin-left: 10px;
  width: 88px;
  color: #646464;
  border: 1px solid rgba(0,0,0,0.2);
}
#iconColorDropdown * {
  color: #646464 !important;
}
#erroReportingCheckbox {
  margin-left: 76px;
  margin-top: -25px;
  margin-right: 13px;
  width: 35px;
}
#erroReportingCheckboxLabel > x-box > x-label:last-child {
  margin-top: 5px;
}
#runOnStartupCheckbox {
  margin-left: 76px;
  margin-top: 11px;
  margin-right: 13px;
  width: 25px;
}
#ouiUpdateCheckbox {
  margin-left: 76px;
  margin-right: 13px;
  margin-top: -38px;
}
#ouiUpdateCheckboxLabel {
  width: 398px;
  margin-top: 5px;
}
#ouiUpdateCheckboxLabel > x-box > x-label:last-child {
  margin-top: 5px;
}
#userDebugSwitch {
  margin-bottom: 28px;
  margin-right: 11px;
  margin-left: 73px;
  width: 50px;
}
#userDebugSwitchLabel > x-box > span {
  margin-top: 5px;
}
#aboutTabInfoWindow {
  width: 639px;
  height: 100%;
  margin-top: 16px;
  display: none;
  flex-direction: column;
  align-items: center;
}
#aboutTabInfoWindow > x-box {
  width: 80%;
}
#aboutTabInfoWindow header {
  text-align: center;
}
#aboutTabInfoWindow header h3 {
  font-weight: lighter;
}
#aboutDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutRepoLink {
  color: #1b5299;
  text-decoration: none;
}
#aboutRepoLink:hover {
  cursor: auto;
  text-decoration: underline;
}
#aboutTabInfoWindow main {
  display: flex;
  justify-content: center;
}
