#settingsTabInfoWindow {
  width: 639px;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

#settingsTabInfoWindow > *:first-child {
  margin-top: 30px;
}

#settingsTabInfoWindow > x-box {
  margin-top: 30px;
  width: 514px;
  min-height: 17%;
}

#timeToLockSetting {
  display: flex;
  justify-content: space-around;
}

#timeToLock {
  margin-top: -9px;
  margin-right: 10px;
  width: 95px;
}

#timeToLockLabel {
  width: 400px;
}

#timeToLockLabel > x-box > x-label:last-child {
  margin-top: 5px;
}

#iconColorDropdownContainer {
  align-items: flex-start;
}

#iconColorDropdown {
  margin-right: 13px;
  margin-left: 10px;
  width: 88px;
  color: #646464;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#iconColorDropdown * {
  color: #646464 !important;
}

#iconColorDropdownLabel {
}

#erroReportingCheckbox {
  margin-left: 76px;
  margin-top: -25px;
  margin-right: 13px;
  width: 35px;
}

#erroReportingCheckboxLabel > x-box > x-label:last-child {
  margin-top: 5px;
}

#runOnStartupCheckbox {
  margin-left: 76px;
  margin-top: 11px;
  margin-right: 13px;
}

#ouiUpdateCheckbox {
  margin-left: 76px;
  margin-right: 13px;
  margin-top: -38px;
}

#ouiUpdateCheckboxLabel {
  width: 398px;
}

#userDebugSwitch {
  margin-bottom: 28px;
  margin-right: 11px;
  margin-left: 73px;
  width: 50px;
}

#userDebugSwitchLabel > x-box > span {
  margin-top: 5px;
}
