#settingsTabInfoWindow {
  width: 639px;
  height: 100%;
  margin-top: 16px;
  display: none;
  flex-direction: column;
  align-items: center;
}

#settingsTabInfoWindow > *:first-child {
  margin-top: 30px;
}

#settingsTabInfoWindow > x-box {
  margin-top: 30px;
  width: 514px;
}

#timeToLockSetting {
  display: flex;
  justify-content: space-around;
}

#timeToLock {
  margin-top: -9px;
  margin-right: 10px;
  width: 95px;
}

#timeToLockLabel {
  width: 400px;
}

#iconColorDropdownContainer {
  align-items: flex-start;
}

#iconColorDropdown {
  margin-right: 13px;
  margin-left: 10px;
  width: 88px;
  color: #646464;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

#iconColorDropdown * {
  color: #646464 !important;
}

#iconColorDropdownLabel {
}

#erroReportingCheckbox {
  margin-left: 76px;
  margin-top: -25px;
  margin-right: 13px;
  width: 35px;
}

#runOnStartupCheckbox {
  margin-left: 76px;
  margin-top: 11px;
  margin-right: 13px;
}
